<br>
<div class="jumbotron">
  <h1>This is BlocMetrics</h1>
    <p>A web app for analytics service and reporting.</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Better than Google</h2>
    <p>What happened to "Don't be evil?"</p>
  </div>
  <div class="col-md-4">
    <h2>Better than Goldman</h2>
    <p>Quants are a dime a dozen.</p>
  </div>
  <div class="col-md-4">
    <h2>Better than God?</h2>
    <p>No, but this is truly a part of God's work...</p>
  </div>
</div>
